extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/part2.js')
		
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		h3.dashheading Dashboard
